body {
  background-color: $background-primary;
  box-sizing: border-box;
  font: 14px $font-family-text-secondary;
  left: 0;
  position: relative;
}

a {
  color: $font-color-bright;
  font-weight: $font-weight-light;
  text-decoration: none;
}

h1 {
  color: $font-color-primary;
  font: {
    family: $font-family-header;
    size: $font-size-xlarge;
  }

  @media (min-width: $breakpoint-medium) {
    font-size: $font-size-xxlarge;
  }
}

h3 {
  color: $font-color-bright;
  margin: 5px 0 10px 0;
}

p, span {
  color: $font-color-primary;
  margin: 0;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.error-message {
  background: $color-paleRed;
  border-radius: 4px;
  color: darken($color-paleRed, 30%);
  font-weight: 300;
  padding: 10px;

  &.hidden {
    display: none;
  }
}