body {
  background-color: $background-primary;
  box-sizing: border-box;
  font: 14px $font-family-text-secondary;
  left: 0;
  min-height: 100vh;
  position: relative;
  transition: left 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);

  &.active {
    border-right: 1px solid $font-color-secondary;
    left: -150px;
  }
}

a {
  color: $font-color-bright;
  text-decoration: none;
}

h1 {
  color: $font-color-primary;
  font: {
    family: $font-family-header;
    size: $font-size-xlarge;
  }

  @media (min-width: $breakpoint-medium) {
    font-size: $font-size-xxlarge;
  }
}

h3 {
  color: $font-color-bright;
  margin: 5px 0 10px 0;
}

p, span {
  color: $font-color-secondary;
  margin: 0;
}

//AIzaSyBE9cgGx0m_7Us1rJSjyLUmzEk8TZWnKqY