@mixin page-wrapper($paddingSides) {
  background-color: $background-primary;
  padding: 55px $paddingSides;

  @media (min-width: $breakpoint-medium) {
    padding: 75px $paddingSides 60px $paddingSides;
  }
}

@mixin responsive-ratio($x,$y, $pseudo: false) {
  $padding: unquote(( $y / $x ) * 100 + '%');
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}

@mixin span-item($color, $radius: 3px) {
  background-color: $color;
  border-radius: $radius;
  display: inline-block;
  font-weight: $font-weight-heavy;
  margin-left: 5px;
  padding: 5px;
}

%button {
  background-color: $background-primary;
  border: none;
  border-radius: 2px;
  color: $background-dark;
  font-size: 0.9em;
  margin: 10px 0;
  width: 90px;
}

%clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

%item-background {
  background-color: darken($background-primary, 5%);
  margin: 10px 0;
  padding: 5px 0 10px 0;
  position: relative;
}

%item-card {
  h3 {
    font: {
      family: $font-family-header;
      size: $font-size-large;
    }
    margin: 10px 0;
    padding-left: 10px;
  }

  p {
    padding-bottom: 5px;
  }

  span {
    @include span-item($font-color-light, 15px);
    color: lighten($color-charcoal, 20%);

    &:first-of-type {
      margin-left: 10px;
    }
  }
}

%modal {
  background: $background-primary;
  border-radius: 4px;
  left: 50%;
  margin-right: -50%;
  outline: none;
  overflow: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
