.sidebar {
  @extend %clearfix;
  font-size: $font-size-medium;
  padding: 0 5%;

  @media (min-width: $breakpoint-medium) {
    font-size: $font-size-large;
    margin: 20px 0 0 auto;
    width: 35%;
  }
}