.location-list-sidebar-wrapper {

  .list-wrapper {
    margin: 15px 0;
    width: 100%;

    @media (min-width: $breakpoint-medium) {
      float: left;
      width: 60%;
    }
  }

  .list-item {
    @extend %item-background;

    h3 {
      font: {
        family: $font-family-header;
        size: $font-size-large;
      }
      margin: 10px 0;
      padding-left: 10px;
    }

    p {
      padding-bottom: 5px;
    }

    span {
      @include span-item($font-color-light, 15px);
      color: lighten($color-charcoal, 20%);

      &:first-of-type {
        margin-left: 10px;
      }
    }
  }

  .address, .facilities {
    padding-left: 10px;
  }

  .stop {
    @include span-item($background-dark, 15px);
    color: $font-color-light;
    position: absolute;
    right: 10px;
    top: 19px;
  }
}