.location-content-wrapper {
  max-width: 1280px;

  @media (min-width: $breakpoint-medium) {
    margin: 0 auto;
  }
}

.location-list-sidebar-wrapper {
  .list-wrapper {
    margin: 15px 0;
    width: 100%;

    @media (min-width: $breakpoint-medium) {
      float: left;
      max-width: 900px;
      width: 55%;
    }
  }

  .list-item {
    @extend %item-background;
    @extend %item-card;

    animation: fadeIn 0.2s ease-in;
  }

  .address, .facilities {
    padding-left: 10px;
  }

  .stop {
    @include span-item($background-dark, 15px);
    color: $font-color-light;
    position: absolute;
    right: 10px;
    top: 19px;
  }
}