.list-item-waiting {
  @extend %item-background;
  @extend %item-card;

  animation: pulse linear 1.5s infinite both, fadeIn 0.2s ease-in;
}

.loading {
  height: 17px;
  position: relative;
  width: 17px;
}

